* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: var(--background-centralbody);
  width: 1600px;
}
:root {
  --text-color-white: #ffffff;
  --text-color-black: #212121;
  --text-color-grey: #757575;
  --text-color-accent: #2196f3;
  --background-central-body: #e5e5e5;
  --background-footer: #2f303a;
}

.conteiner {
  width: 1200px;
  margin-right: 200px;
  margin-left: 200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

/* header */

.header-page {
  background: var(--text-color-white);
  border-bottom: 1px solid #ececec;
}
.header-page .conteiner {
  display: flex;
  align-items: center;
}

/* navigatsiya */

.nav-list {
  display: flex;
  margin-left: 93px;
}
.item {
  display: block;
}
.nav-list .item:not(:last-child) {
  margin-right: 50px;
}
.nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color-black);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* adresnaya */

.address-header {
  margin-left: auto;
}
.address-list-up {
  display: flex;
}
.address-list-up .link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.address-list-up .item:not(:last-child) {
  margin-right: 50px;
}
.address-list .link,
.address-list-up .link {
  display: block;
  color: var(--text-color-grey);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
  color: var(--text-color-accent);
  font-style: normal;
}

/* footer */

.footer-page {
  background: var(--background-footer);
}
.footer-page > .conteiner {
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-color-accent);
  letter-spacing: 0.03em;
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-color-black);
  letter-spacing: 0.03em;
}
.underground .logo-web {
  display: block;
  margin-bottom: 20px;
}
.address-list .item:not(:last-child) {
  margin-bottom: 9px;
}
.address-list .map {
  color: #ffffff;
}
.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-color-white);
  letter-spacing: 0.03em;
}

/* hero */

.hero {
  background: #2f303a;
}
.hero > .conteiner {
  text-align: center;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-titel {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--text-color-white);
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-but {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: rgba(255, 255, 255, 1);
  padding: 10px 32px;
  background-color: var(--text-color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-but:hover {
  color: var(--text-color-black);
  background: #f5f4fa;
  border-radius: 4px;
}

/* central content */

.about > .conteiner {
  padding-top: 94px;
  background: var(--background-central-body);
}
.about-list {
  display: flex;
  justify-content: space-between;
}
.about-properties {
  margin-bottom: 10px;
  width: 270px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-black);
}
.properties {
  width: 270px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.working-list-img {
  display: flex;
  justify-content: space-between;
}
.working > .conteiner {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--background-central-body);
}
.section-name {
  padding-bottom: 50px;
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-card {
  background: var(--text-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-card > h3 {
  padding-top: 30px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-black);
}
.team-card > p {
  padding-top: 5px;
  padding-bottom: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
}
.team {
  background: #f5f4fa;
}
.team .conteiner {
  padding-bottom: 94px;
  padding-top: 94px;
}

/* portfolio pege */

.main-portfolio {
  background: var(--background-central-body);
}
.buttons {
  padding-top: 94px;
  padding-bottom: 50px;
}
.cards {
  padding-bottom: 94px;
}

/* conteiner buttons */

.btn-portfolio {
  display: flex;
  justify-content: center;
}
.line-btns:not(:last-child) {
  margin-right: 8px;
}
.btn-link {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  background: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-black);
}
.btn-link:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-white);
}

/* conteiner-card */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio-card {
  margin: 15px;
}
.portfolio-card .conteiner {
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  width: 370px;
  padding: 20px 24px;
  margin: 0px;
}
.conteiner > .card-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-black);
  margin-bottom: 4px;
}
.conteiner > .card-class {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
}
